@import '../../common.scss';
.rank{
    padding-bottom: 130px;
    .title{
        margin: 10px 0;
        padding-left: 10px;
        text{
            font-size: $font-size-ll;
        }
    }
    .official_content{
        padding: 0 10px;
        .official_item{
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            border-bottom: 1px solid $border-color;
            .official_img_wrapper{
                position: relative;
                width: 180px;
                height: 180px;
                flex-shrink: 0;
                .official_img{
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }
            }
            .song_list{
                display: flex;
                flex-direction: column;
                padding: 16px;
                justify-content: space-around;
                .song_item{
                    text{
                        font-size: $font-size-s;
                        color: gray;
                    }
                }
            }
        }
    }
    .global_content{
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        &::after {
            content:"";
            display:block;
            width: 236px;
        }
        .global_item {
            margin-bottom: 12px;
            .global_img_wrapper{
                position: relative;
                width: 236px;
                height: 236px;
                .global_img{
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }
            }
        }
    }
    .decorate{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        border-radius: 6px;
        background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,43%,.4));
    }
    .updateFrequency{
        position: absolute;
        bottom: 6px;
        left: 10px;
        text{
            font-size: $font-size-ss;
            color: $font-color-light;
        }
    }
}